<% if @orders.any? %>

	<% @orders.each do |order| %>
		<div>
		<%= order.user.email %>
		<%= link_to order.post.title, '/' %>
		<%= order.number %>
		</div>
	<% end %>

<% else %>

	No orders yet!

<% end %>