#main {

}

#usersection {
	border-radius: 5px;
	margin: 20px;
	background-color: cyan;
	display: flex;
	height: 250px;
}

#usersection ul {
	flex: 20%;
	margin: 20px;
}

#usersection img {
	height: 220px;
}

#followsection {
	border-radius: 5px;
	margin: 20px;
	padding: 1px 0px;
	background-color: blue;
}

.followeduser {
	border-radius: 5px;
	margin: 20px 20px 20px -20px ;
	background-color: orange;
	height: 220px;
}